<ion-view view-title="Around Destination">


    <ion-content class="padding">
        <div >


            <div id="dest_search_map" class="google-map" data-tap-disable="true"></div>

            <form ng-submit="doSearch()">
                <div id="dest-search-panel" class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input id="address" type="text" placeholder="Enter an address" ng-model="keyword.address" ng-change="input_changed()">
                    </label>
                    <div id="suggestion_des">
                        <ion-item  class="item-remove-animate item-avatar item-icon-right" ng-repeat="add in partialMatchedAddresses" ng-click="suggestSearch(add.address)">
                            <span>{{add.address}}</span>

                            <ion-option-button class="button-assertive" >
                                Delete
                            </ion-option-button>
                        </ion-item>
                    </div>
                </div>
            </form>

            <div id="buttons-panel-dest" class="buttons-panel">
                <button  class="button icon ion-map" ng-click="googleDirection()"></button>

                <button  class="button icon ion-pinpoint" ng-click="watchOn()"></button>

                <button  class="button icon ion-ios-partlysunny" ng-click="display_weather()"></button>

                <!-- for testing get partial matched addresses-->
                <!--<button ng-click="getAddress()"></button>-->
            </div>

        </div>
    </ion-content>
</ion-view>
