<ion-view view-title="Facebook" can-swipe-back=false>


    <ion-content class="padding">
        <div fb-post class="fb-page" data-href="https://www.facebook.com/trailsVictoria" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true">
        </div>

   <!--     <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1643180689265172";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-page" data-href="https://www.facebook.com/trailsVictoria" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/trailsVictoria"><a href="https://www.facebook.com/trailsVictoria">Trails Victoria</a></blockquote></div></div>    </ion-content>
--></ion-view>