<ion-view view-title="{{title}}">


    <ion-content class="bg">
      <div id="act_map" class="google-map" data-tap-disable="true"></div>

      <div id="buttons-panel-act" class="buttons-panel">

          <button  class="button icon ion-map" ng-click="googleDirection()"></button>

          <button  class="button icon ion-pinpoint" ng-click="watchOn()"></button>

          <button  class="button icon ion-ios-partlysunny" ng-click="display_weather()"></button>

      </div>


      <!--Testing info, shown means this template is working.-->

    </ion-content>
</ion-view>
