<ion-view view-title="Search by Trails Name" can-swipe-back=false>


  <ion-content class="padding">

    <form ng-submit="doSearch()">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="name_input" type="text" placeholder="Enter a Name" ng-model="keyword.first" ng-change="input_changed()">
        </label>
        <div id="suggestion_name">
          <ion-item  class="item-remove-animate item-avatar item-icon-right" ng-repeat="name in partialMatchedNames" ng-click="suggestSearch(name.trailName)">
            <img ng-src={{name.activityImgUrl}}>
            <span>{{name.trailName}}</span>

            <ion-option-button class="button-assertive" >
              Delete
            </ion-option-button>
          </ion-item>
        </div>
      </div>
    </form>
    <div id="name-outline">

      <div class="card" id="nearTrails">
      <div class="item item-text-wrap">
        <span>You May Like</span>
        <ion-list class="padding">
          <ion-item  class="item-remove-animate item-avatar item-icon-right" ng-repeat="trail in nearTrails" ng-click="display_map(trail.name)">
            <img ng-src={{trail.img}}>
            <h2>{{trail.name}}</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" >
              Delete
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="card" id="normal_display">
      <div class="item item-text-wrap">
        <ion-list class="padding">
          <ion-item  class="item-remove-animate item-avatar item-icon-right" ng-repeat="trail in results" ng-click="display_map(trail.name)">
            <img ng-src={{trail.img}}>
            <h2>{{trail.name}}</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" >
              Delete
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="card"  id="error_display">
      <div class="item item-text-wrap">
        {{errMsg}}
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
