<ion-view view-title="Multiple Conditions Search">

    <ion-content class="padding">
        <div id="outline">

            <ul class="list">

                <li class="item item-toggle">
                    Precise Search
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="precise.checked" ng-change="preciseChanged()" ng-checked="isPrecise">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

            </ul>

        </div>
    </ion-content>
</ion-view>
