<ion-view view-title="How to use" can-swipe-back=false>

    <ion-content class="padding">
        <div style="margin: 3px;">
            <div class="card">
                <p>
                    Zoom in, you will find more.
                </p>
                <img ng-src="img/howToUse/more.png" width="70%" height="70%">

            </div>

            <div class="card">
                <p>
                    Switch on weather condition button on the left corner <i class="icon ion-ios-partlysunny"></i> and wait a while you will see a weather icon drop down. Click it you get more info.
                </p>

                <p>
                    You also can switch off it to hide this icon.
                </p>

                <img ng-src="img/howToUse/weather.png" width="70%" height="70%">

            </div>

            <div class="card">
                <p>
                    Switch on watch on button on the left corner <i class="icon ion-pinpoint"></i> and then system will watch on you current location. Which means you move it moves.
                </p>

                <p>
                    Of cause, you can cancel it by switching off it.
                </p>

                <img ng-src="img/howToUse/watchOn.png" width="70%" height="70%">

            </div>

            <div class="card">
                <p>
                    Click the marker aside a trail and ten click "direct me" button, system will show you direction from your current location (or a location specify by you in <i class="icon ion-ios-location"></i>Around) to this trail.
                </p>

                <img ng-src="img/howToUse/direction.png" width="70%" height="70%">

            </div>
        </div>
    </ion-content>
</ion-view>
