<ion-view view-title="Settings" can-swipe-back=false ng-init="init()">

    <ion-content class="padding">
        <div class="list">

            <a class="item item-icon-left item-icon-right" href="#/tab/settings/aboutUs">
                <i class="icon ion-outlet"></i>
                About Us
                <i class="icon ion-ios-telephone-outline"></i>
            </a>

            <a class="item item-icon-left" href="#/tab/settings/terms_of_use">
                <i class="icon ion-ios-information"></i>
                Terms of Uses
            </a>

        </div>


        <div class="list">
            <a class="item item-icon-left" href="#/tab/settings/mul">
                <i class="icon ion-ios-home"></i>
                Multiple Conditions Search
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-search"></i>
                Search by Trails Name
            </a>

            <a class="item item-icon-left" href="#/tab/settings/des">
                <i class="icon ion-ios-location"></i>
                Around Destination
            </a>
        </div>

        <div class="list">
            <a id="settings_facebook_a_login" class="item item-icon-left" ng-click="login()">
                <i class="icon ion-social-facebook"></i>
                Login With Facebook
                <span class="item-note">
                    {{fbUserName}}
                </span>
            </a>
            <a id="settings_facebook_a_logout" class="item item-icon-left" ng-click="logout()">
                <i class="icon ion-social-facebook"></i>
                Logout With Facebook
                <span class="item-note">
                    {{fbUserName}}
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>
