<ion-view view-title="Welcome - Trails Victoria" can-swipe-back=false>
  <ion-content class="padding">
    <div class="logo">
      <img ng-src="img/logo.png" alt="Trails Victoria Logo" width="250" >
    </div>
    <div class="list card">
      <div class="item item-body">
        <div class="Justify">
          <b>Explore Victorian Trails by custom search based on Activities, Trail Length, Trail Difficulty and Travel Time from your current location or travel destination.</b>
        </div>
      </div>
    </div>
    <div>
      <a class="button button-full ForestGreen" type="button" href="#/tab/index">
        <b>Get Started</b>
      </a>
    </div>


  </ion-content>
</ion-view>
