/* Empty. Add your own CSS if you like */
div.dg {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.bg {
    background: url("../img/clouds-and-blue-sky-1024x600-digital-art-wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.list.list_trns {
    /*18, 65, 28 green; 0, 204, 255 calm*/
    background: rgba(18, 65, 28, 0.4);
    border: 1px solid rgba(255,255,255,0.9);
    color: white;
}

.item.item-trns {
    background-color: rgba(0, 0, 0, 0);
}

.side_menu {
    position: relative;
    left: calc(100% - 2px);
    right: 2px;
}

.map-labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 40px;
  border: 2px solid black;
  white-space: nowrap;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s;
    white-space: pre-wrap;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.buttons-panel {
    position: absolute;
    bottom: 70px;
    left: 10px;

    z-index: 5;
}

#dest-search-panel {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;

    z-index: 5;
}

.google-map {
    width: calc(100% - 1px);
    height: 100%;
}

.scroll {
    height: 100%;
}

.ForestGreen {
    background-color: #6B913B;
    color: #FFFFFF;
    font-size: large;
}

.Justify {
    text-align: justify;
    text-justify: inter-word;
}

.logo {
    width:300px;
    height:300px;
    margin: 0 auto;
}

#suggestion_des {
    z-index: 100;
}

.fb-page {
    width: 100%;
    height: 100%;
}



